#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/echomind debian/echomind/usr/bin/echomind
	install -Dm644 README.md debian/echomind/usr/share/doc/echomind/README.md
	install -Dm644 CONTRIBUTING.md debian/echomind/usr/share/doc/echomind/CONTRIBUTING.md
	install -Dm644 config.example.toml debian/echomind/usr/share/doc/echomind/config.example.toml
	install -Dm644 echomind.1 debian/echomind/usr/share/man/man1/echomind.1
	gzip -9 debian/echomind/usr/share/man/man1/echomind.1

override_dh_auto_test:
	cargo test

override_dh_auto_clean:
	cargo clean

